openapi: 3.0.1
info:
  contact:
    email: apisupport@spyderbat.com
    name: API Support
    url: https://api.prod.spyderbat.com/openapi.pdf
  description: Restful APIs for use by UI & customers.
  license:
    name: MIT
    url: https://mit-license.org/
  termsOfService: https://www.spyderbat.com/terms-of-use/
  title: Spyderbat API UI & Public APIs
  version: 1.0.0
  x-logo:
    url: https://app.spyderbat.com/static/media/sb-logo.03d4ae14.svg
    backgroundColor: '#161A21'
    altText: Spyderbat Logo
servers:
- description: Spyderbat API Server
  url: https://api.prod.spyderbat.com/
security:
- apiToken: []
tags:
- description: "\nAPIKeys are used to authenticate API calls to the API service. Inside\
    \ the returned APIKey object is a property, 'jwt' which contains a JWT. JWT or\
    \ JSON Web Tokens provide a means of authentication and are frequently used to\
    \ authenticate users to web services. The supplied JWT token can be supplied in\
    \ HTTPS requests using an 'Authorization' header with a 'Bearer', for example\
    \ 'Authorization: Bearer JWT' where JWT represents the supplied JWT token, found\
    \ in the 'jwt' property in the returned APIKey object. The APIKeys are read only\
    \ after being created and only the description and enabled flag may be set after\
    \ the key has been created, this is because the other fields cannot be changed\
    \ without updating the JWT token. To identify which JWT is associated with which\
    \ APIKey, the JWT token can be decoded using a online JWT decoder, and the UID\
    \ of the associated APIKey is found in the claims with the property 'sub'. \n\n\
    \ * The API key inherits the same roles and permissions as the user who created\
    \ the API key. \n * There is a limit of 10 keys per user. \n * The 'jwt' from\
    \ the returned key should be inserted into a HTTP Header called 'Authorization'\
    \ like so 'Bearer JWT' where JWT is replaced respectively.\n * The 'valid_to'\
    \ from the returned key is used to specify the expiration date for the key, after\
    \ which it will no longer work.\n\n\t"
  name: APIKey
- description: |2

    Agents represent a sepecific agent which collects data for one or more sources.
  name: Agent
- description: "\nAgents registrations are used to authorize and group agents by the\
    \ registration. \n"
  name: Agent Registration
- description: "\nAgentWork API is intended for use by the UI to convey work & configuration\
    \ to agents, this data can be specific to an agent or gloal to an organization.\
    \ \n\nAn example use case is configuration data for a specific bat. The agents\
    \ then overlay the global work data atop, the organizationan work (if defined),\
    \ atop the specific agent work. \n\n\t"
  name: AgentWork
- description: |2

    These APIs require the users to authenticate and then provide a request header as specified by the authentication function to allow access to these APIs. See the section on RRBAC for a description of access control.
  name: Authenticated APIS
- description: "\nDashboard Searches are used to drive the Dashboard page, which shows\
    \ realtime searches in the UI\n"
  name: DashboardSearch
- description: "Investigations can be created by users as a way to have an investigation\
    \ into a potential attack, allowing users to associate data from one or more sources\
    \ into a single investigation. An investigation may be utilized by multiple users\
    \ as part of it's work flow. Investigations have a version history, each change\
    \ to an investigation will result in a copy of the investigation to be captured\
    \ and saved, prior versions can then be inspected later."
  name: Investigation
- description: |2

    Returns meta data about the system
  name: Metadata API
- description: |2

    Allows for querying of metrics around metricss
  name: MetricsData
- description: "\nOrganizations hold resources & data associated with an organization,\
    \ users must be associated via roles with an organization to have permissions\
    \ to interact with the organization. Each user my have multiple and different\
    \ roles on different organizations and each organization may have multiple users\
    \ with roles on the organization. Each user is has an organization assigned to\
    \ the user during signup. Users may then assign other users various roles on the\
    \ organization.\n"
  name: Org
- description: "\nOrganizational types specify both limits and defaults for organizations,\
    \ they are used by the system to determine the resource utilization for an organization\
    \ and associated settings. \n"
  name: OrgType
- description: "# Introduction \n\nThis RBAC model is based off of Amazon's model\
    \ with some simplifications and generic assumptions\n\nA user has some number\
    \ of roles on some number of organizations, each role defines some statements\n\
    which determine determine if the user has access to some resources. These role\
    \ based statements\nare combined with a policy which may be attached to the resource\
    \ to be accessed. \n\nSo essentially acccess is determined by the combination\
    \ of identity based polices and resource\nbased policies. \n\nAll associated statements\
    \ from both the user's roles and the resources policy are considered before\n\
    access is granted. If any statement denies access then access is denied, at least\
    \ one statement\nmust explicitly grant access to the resource, and if no statement\
    \ denies or grants access then \naccess is not granted. \n\n\nThe resulting access\
    \ decision is a combination of:\n\n```\nEvaluate(Roles(User,Org),Resource) - will\
    \ evaluate all possible user roles on the resource\nEvaluate(GlobalRoles(User),Resource)\
    \ - will evaluate all possible user roles on the resource\nEvaluate(CrossOrgRoles(User,Org),Resource)\
    \ - will evaluate all possible cross org roles on the resource\nEvaluate(Resource.Policy,User)\
    \ - will evalute the requesting user against the resource policy\n```\n\nThis\
    \ means that a user role can specify what the user can access, while a specific\
    \ resource\npolicy has the ability to deny access to a single user, or a user\
    \ based upon roles or\ntags. \n\n# Example user role\n\n```json\n{\n\t\"name\"\
    :\"CatFeeder\",\n\t\"version\":\"1.0.0\",\n\t\"statements\":[\n\t\t{\n\t\t\t\"\
    sid\":\"FeedCats\",\n\t\t\t\"effect\":\"allow\",\n\t\t\t\"actions\":[ \"cat:feed\"\
    \ ],\n\t\t\t\"resources\":[ \"srn:cat:::*\" ],\n\t\t\t\"condition\": { \"not\"\
    : { \"has_tag\":\"obese\"}}\n\t\t}\n\n\t]\n}\n```\n\nThis example user role defines\
    \ a role called 'CatFeeder', which is allowed to perform 'cat:feed' on all resources\
    \ which match 'srn\\:cat\\:::\\*', as long as the cat the role\nis being used\
    \ on does not have the tag 'obese'.\n\n# Global vs Organization roles\n\nA global\
    \ role is a role which does not have a specific context, it is 'global' in that\
    \ it \napplies to all resources a user might interact with. An organizational\
    \ role is assigned to a\nspecific organization, and therefore limited to the context\
    \ of that organization. \n\nFor example a global role is one which allows a user\
    \ to change their own password, or\nperform other actions which do not involve\
    \ an organization. An organizational role\nis a role which allows actions on resources\
    \ owned by an organization. \n\nAn example of this is a typical user:\n\n * Global\
    \ Role (User) \n  * Allows the user to modify their own settings, change their\
    \ password, etc. \n * Org Role (OrgOwner) \n  * Allows the user to modify an organization\n\
    \  * Applied to specific organizations\n\n# User Roles\n\nUsers may zero or more\
    \ roles defined on different organizations, along with global roles\n, a role\
    \ is defined with the following attributes\n\n * Name - Name of the policy, used\
    \ to match to roles associated with users\n * Version  - Version of the role schema\n\
    \ * Statements - Some number of statements\n\n# Resource Policy\n\nA resource\
    \ may have a single policy with multiple statements associated with it, it has\n\
    the following attributes\n \n * Name - Name of the policy, used to match to roles\
    \ associated with users\n * Version  - Version of the role schema\n * Statements\
    \ - Some number of statements\n\n# Statement\n\nEach role or policy has some statements\
    \ defined with it, each statement defines\nwhat actions are allowed or dissallowed\n\
    \nStatements have the following attributes\n\n * SID - statment ID used for debugging\
    \ and identification\n * Effect - the result of the statement (deny, allow)\n\
    \ * Actions - a list of actions \n * Resources - a list of resource queries\n\
    \ * Condition - an optional condition that will be applied to statements to determine\
    \ if they apply\n\n## Statement Effects\n\nTo determine if access may be granted\
    \ the statements associated with the user roles,\ncross account roles, and resources\
    \ are evaluated. If any statement returns a deny then \nall further evaluation\
    \ is stopped and the result is a denial. At least one statement\nmust allow access\
    \ for access to be granted. If no statement denies or allows access\nthen the\
    \ system will not allow access.\n\n## Actions\n\nActions are a combination of\
    \ Service:Action, and also have a few wild card patterns:\n\n```\n* \t\t- match\
    \ any action\nservice:* \t- match any action on this service\nservice:action\t\
    - match this explicit combination of action and service\n```\n\n## Spyderbat Resource\
    \ Names\n\nEach resource in the RBAC system is given a name like so:\n\n```\n\
    srn:service:region:org:resource\n```\n\nThe resource name is expected to expand\
    \ into a path like resource name when a hierarchy is needed, \nfor example:\n\n\
    ```\nsrn:report:aws-us-west-1:org-1:agent-usage-report/download.pdf\n```\n\nThese\
    \ resource names are matched in policies against resource queries:\n\n```\nsrn:report:::*/*.pdf\n\
    ```\n\nIs an example of resource query which would match the above resource. \n\
    \nThe following globs are supported in resource names\n\n```\n/**/   - match zero\
    \ or more directories\n{a,b}  - match a or b, no spaces\n*      - match any non-separator\
    \ char\n?      - match a single non-separator char\n**/    - match any directory,\
    \ start of pattern only\n/**    - match any this directory, end of pattern only\n\
    !      - removes matches from resultset, start of pattern only\n```\n\n```\n*\
    \ \t\t\t- match all resources\nsrn::::*\t \t- match all resources\nsrn:report::::*\
    \ \t- match all report resources\nsrn:report::org-1:* \t- match all resources\
    \ in a specific org\n```\n\n## Conditions\n\nThe system will first evalute if\
    \ the requested resource and the requested action\nmatch, if so then the system\
    \ will evaluate any conditions which are specified on \nthe statement. \n\nThe\
    \ following conditions are supported:\n\n```\n{ not: condition } - not of the\
    \ specified condition\n{ and: [....] }\t - and of all contained conditions\n{\
    \ or: [....] } \t - or of all contained conditions\n{ has_tag:\"tag\"}\t -  returns\
    \ true if the resource has the associated tag\n{ has_role:\"role\", on_org:\"\
    org-1\" } - returns true if the user has a role of 'role' on 'org-1'\n```\n\n\
    # User Roles\n\nUsers are mapped to roles within an organization via a userToRole\
    \ relationship, \nwhich allows for a user to have many roles on many organizations.\
    \ \n\n```\n(User, Org, Role)...\n```\n\n*This means that a user can have many\
    \ different roles on different organizations* \n\nFor example the user David may\
    \ have roles on multiple organizations:\n\n````\nDavid\n\tOrg1: Analyat\n\tOrg1:\
    \ Operator\n\tOrg2: Analyst\n\t...\n````\n\nThese roles are mapped by name to\
    \ a specific role implementation.\n\n## Cross Org Roles\n\nCross org roles for\
    \ use by MSSPs are supported by having the managed \norganization defining a special\
    \ cross-org role with the following\nattributes:\n\n * Org - The org the cross\
    \ org role applies to\n * Condition - The condition to evaluate\n * AssumeRole\
    \ - The role the user may assume\n\n## Example cross org role\n\n```json\n{\n\t\
    \"org\":\"house-1\",\n\t\"assume_role\":\"CatPetter\",\n\t\"version\":\"1.0.1\"\
    ,\n\t\"condition\": { \"has_role\":\"CatPetter\", \"on_org\":\"house-2\" }\n}\n\
    ```\n\nThis role will allow any user who has the role 'CatPetter' in the org 'house-2'\
    \ to assume\nthe role 'CatPetter' in 'house-1'\n\n\n\n\n\n\n"
  name: RBAC
- description: "\nSources are used to represent a container for source of security\
    \ data, such as a machine,\nor other potential source. \n\nThe source itself has\
    \ data associated with the source, see the 'Source Data' APIs for \naccess to\
    \ source data.\n"
  name: Source
- description: "\nEach source may send data which is stored and processed by the system.\
    \ So for example a machine will send data\nin a raw form which is then analyzed,\
    \ both the raw machine data and the analyzed data is available for querying.\n"
  name: SourceData
- description: "\nUIData API is intended for use by the UI to store user, organization\
    \ or source specific data for use by the UI. \n\nExample use cases are for user\
    \ profile data, data for a specific source or data associated with the organization.\n\
    \n * Data is stored with an expiration date as specified by the valid_to property,\
    \ this valid_to propery can be updated as needed\n * A JSON object may be supplied\
    \ by as the value for the data property\n * Max length of the marshaled data property\
    \ is 524288 bytes\n * Data may be tagged and queried by tags\n\n\t"
  name: UIData
- description: |2

     These APIs which do not require authentication.
  name: Unauthenticated APIs
- description: User APIs
  name: User
paths:
  /api/v1/app/user/current:
    get:
      description: "\nThis api call will return the current user as a JSON object,\
        \ or 404 if there is no user associated with the current authentication token\
        \ or JWT. When a 403 is received the message\nwill indicate if the user is\
        \ expired or is pending approval, i.e. \"user is expired\", or if the user\
        \ is in a pending state \"user is in a pending state\".\n"
      operationId: UserCurrent
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: OK
        "403":
          description: User is expired or in a pending state
        "404":
          description: No user is associated
      security: []
      summary: Returns the current user
      tags:
      - User
  /api/v1/integration/soar/org/{orgUID}/source/:
    get:
      description: "\nLists the sources of data that match the specified query parameters,\
        \ and return \nURL entry points into the UI for matching sources. \n\n* Requires\
        \ the action  *org:ListSources* on the organization\n"
      operationId: IntegrationSoarSrcList
      parameters:
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      - description: optional end time of the query
        explode: true
        in: query
        name: et
        required: false
        schema:
          description: optional end time of the query
          format: int64
          type: integer
        style: form
      - description: A single hostname to match
        explode: true
        in: query
        name: hostname
        required: false
        schema:
          description: A single hostname to match
          maxLength: 128
          type: string
        style: form
      - description: A single IP address to match
        explode: true
        in: query
        name: ip_address
        required: false
        schema:
          description: A single IP address to match
          maxLength: 128
          type: string
        style: form
      - description: A single mac address to match
        explode: true
        in: query
        name: mac_address
        required: false
        schema:
          description: A single mac address to match
          maxLength: 128
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int32
          maximum: 100
          type: integer
        style: form
      - description: "optional start time of the query, if only a start time is provided,\
          \ end time will be start+10m"
        explode: true
        in: query
        name: st
        required: false
        schema:
          description: "optional start time of the query, if only a start time is\
            \ provided, end time will be start+10m"
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApiSOARListHandlerOutput'
                type: array
          description: OK
        "403":
          description: permission denied
      summary: List sources for integration with SOARs
      tags:
      - Source
  /api/v1/meta/search/schema:
    get:
      description: "\nReturns meta data around which model and event properties are\
        \ indexed for search, i.e. the search schema\n"
      operationId: MetadataSearchSchema
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/ElasticRecordSchema'
                type: object
          description: OK
        "403":
          description: permission denied
      summary: Returns the schema used for search
      tags:
      - Metadata API
  /api/v1/metrics/query/:
    post:
      description: "\nAllows querying of the metrics for metricss, data is stored\
        \ as 'records' which are returned as json objects, in nd-json (see ndjson.org)\
        \ format. \n\n* Data is returned as it is matched, and no ordering guarentees\
        \ exist. \n* The call completes after it has finished searching for matching\
        \ records. \n* The query expression is limited to seaching a 1 week period\
        \ of time, it is the callers responsibility to construct an appropriate 24\
        \ hour range.\n\n* The user must have both the *metrics:QueryData* action\
        \ on the org\n"
      operationId: MetricsDataQuery
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricsDataQueryInput'
      responses:
        "200":
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/NDJSONStream'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: invalid input parameters
        "403":
          description: permission denied
      summary: Query metrics data
      tags:
      - MetricsData
  /api/v1/org/:
    get:
      description: |2

        Lists organizations

         * Will list organizations which the user has the action *org:Load* or *org:LoadExpired* on
      operationId: OrgList
      parameters:
      - allowEmptyValue: true
        explode: true
        in: query
        name: has_resource_policy
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: has_tags
        required: false
        schema:
          items:
            type: string
          maxItems: 30
          type: array
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: include_expired
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: name_contains
        required: false
        schema:
          maxLength: 32
          type: string
        style: form
      - explode: true
        in: query
        name: owner_uid_equals
        required: false
        schema:
          maxLength: 64
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int32
          maximum: 100
          minimum: 10
          type: integer
        style: form
      - explode: true
        in: query
        name: uid_equals
        required: false
        schema:
          maxLength: 64
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Org'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: invalid query parameters
        "403":
          description: permission denied
      summary: List organizations
      tags:
      - Org
  /api/v1/org/{orgUID}:
    get:
      description: "\nLoads an organization by UID. \n\n * Requires action *org:Load*\n\
        \ * Requires action *org:LoadExpired* to load expired organizations\n\n"
      operationId: OrgLoad
      parameters:
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org'
          description: OK
        "403":
          description: permission denied
      summary: Load an organization
      tags:
      - Org
    put:
      description: "\nUpdates the organization \n\n * Requires the user have the action\
        \ *org:Update* on the organization\n"
      operationId: OrgUpdate
      parameters:
      - description: Org UID
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: Org UID
          maxLength: 64
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgUpdateInput'
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: invalid input parameters
        "403":
          description: permission denied
      summary: Update an organization
      tags:
      - Org
  /api/v1/org/{orgUID}/agent/:
    get:
      description: |2+

        Lists the agents associated with an organization

        * Requires the action  *agent:List* on the organization

      operationId: AgentList
      parameters:
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          minLength: 10
          type: string
        style: simple
      - explode: true
        in: query
        name: agent_registration_uid_equals
        required: false
        schema:
          maxLength: 64
          type: string
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: original_association
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int32
          maximum: 100
          type: integer
        style: form
      - explode: true
        in: query
        name: source_uid_equals
        required: false
        schema:
          maxLength: 64
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Agent'
                type: array
          description: OK
        "403":
          description: permission denied
      summary: List agents
      tags:
      - Agent
  /api/v1/org/{orgUID}/agent/{agentUID}:
    get:
      description: |2+

        Load a specified agent

        * Requires the action  *agent:Load* on the organization

      operationId: AgentLoad
      parameters:
      - explode: false
        in: path
        name: agentUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
          description: OK
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Load an agent
      tags:
      - Agent
  /api/v1/org/{orgUID}/agent/{agentUID}/work:
    delete:
      description: "\nDelet the work data for a specified agent.\n\n * Requires *agent_data:Delete*\
        \ \n"
      operationId: AgentDeleteAgentWork
      parameters:
      - description: Agent UID
        explode: false
        in: path
        name: agentUID
        required: true
        schema:
          description: Agent UID
          maxLength: 20
          type: string
        style: simple
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      summary: Delete agent work data for a specific agent
      tags:
      - AgentWork
    get:
      description: |2

        Get the work data for a specified agent.

         * Requires *agent_data:GetAgentData*
      operationId: AgentGetAgentWork
      parameters:
      - description: Agent UID
        explode: false
        in: path
        name: agentUID
        required: true
        schema:
          description: Agent UID
          maxLength: 20
          type: string
        style: simple
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAgentWorkOutput'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      summary: Get agent work data for a specific agent
      tags:
      - AgentWork
    post:
      description: "\nSet the work data for a specified agent.\n\n * Requires *agent_data:Set*\
        \ \n"
      operationId: AgentSetAgentWork
      parameters:
      - description: Agent UID
        explode: false
        in: path
        name: agentUID
        required: true
        schema:
          description: Agent UID
          maxLength: 20
          type: string
        style: simple
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentSetAgentWorkInput'
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      summary: Set agent work data for a specific agent
      tags:
      - AgentWork
  /api/v1/org/{orgUID}/agent_registration/:
    get:
      description: |2+

        Lists the agent registrations associated with an organization

        * Requires the action  *agent_registration:List* on the organization

      operationId: AgentRegistrationList
      parameters:
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          minLength: 10
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int32
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AgentRegistration'
                type: array
          description: OK
        "403":
          description: permission denied
      summary: List agent registrations
      tags:
      - Agent Registration
    post:
      description: |2

        Creates a new agent registration

        * Requires the action  *agent_registration:Create* on the organization
      operationId: AgentRegistrationCreate
      parameters:
      - description: The OrgUID the registration is associated with
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: The OrgUID the registration is associated with
          maxLength: 32
          type: string
        style: simple
      - description: Agent Registration UID
        explode: false
        in: path
        name: uid
        required: true
        schema:
          description: Agent Registration UID
          maxLength: 64
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentRegistrationCreateInput'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAgentCreateHandlerOutput'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: invalid input parameters
        "403":
          description: permission denied
      summary: Create an agent registration
      tags:
      - Agent Registration
  /api/v1/org/{orgUID}/agent_registration/{uid}:
    get:
      description: |2+

        Load a specified agent registration

        * Requires the action  *agent_registration:Load* on the agent registration

      operationId: AgentRegistrationLoad
      parameters:
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      - explode: false
        in: path
        name: uid
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRegistration'
          description: OK
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Load an agent registration
      tags:
      - Agent Registration
    put:
      description: |2

        Updates an existing registration

        * Requires the action  *agent_registration:Update* on the organization and the registration
      operationId: AgentRegistrationUpdate
      parameters:
      - description: The OrgUID the registration is associated with
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: The OrgUID the registration is associated with
          maxLength: 32
          type: string
        style: simple
      - description: Agent Registration UID
        explode: false
        in: path
        name: uid
        required: true
        schema:
          description: Agent Registration UID
          maxLength: 64
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentRegistrationUpdateInput'
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: invalid input parameters
        "403":
          description: permission denied
      summary: Update an agent registration
      tags:
      - Agent Registration
  /api/v1/org/{orgUID}/agent_registration/{uid}/download_link:
    get:
      description: |2+

        Create a download link for the registration

        * Requires the action  *agent_registration:Load* on the agent registration

      operationId: AgentRegistrationDownloadLink
      parameters:
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      - explode: false
        in: path
        name: uid
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAgentRegistrationDownloadLinkHandlerOutput'
          description: OK
        "400":
          description: bad request
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Get a download link for this registration
      tags:
      - Agent Registration
  /api/v1/org/{orgUID}/agent_registration/{uid}/log:
    get:
      description: |2+

        Get lots relating to recent agent registration activity

        * Requires the action  *agent_registration:ListLog* on the agent registration

      operationId: AgentRegistrationGetLog
      parameters:
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          minLength: 10
          type: string
        style: simple
      - explode: false
        in: path
        name: uid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int32
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DaoAgentLog'
                type: array
          description: OK
        "400":
          description: bad request
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Get log of recent agent registration activity
      tags:
      - Agent Registration
  /api/v1/org/{orgUID}/agent_work:
    delete:
      description: "\nDelete the work data for all agents for an organization.\n\n\
        \ * Requires *agent_data:Delete* \n"
      operationId: AgentDeleteOrgWork
      parameters:
      - description: Agent UID
        explode: false
        in: path
        name: agentUID
        required: true
        schema:
          description: Agent UID
          maxLength: 20
          type: string
        style: simple
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      summary: Delete agent work for an org
      tags:
      - AgentWork
    get:
      description: |2

        Get the work data for all agents associated with the organization.

         * Requires *agent_data:GetOrgData*
      operationId: AgentGetOrgWork
      parameters:
      - description: Agent UID
        explode: false
        in: path
        name: agentUID
        required: true
        schema:
          description: Agent UID
          maxLength: 20
          type: string
        style: simple
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAgentWorkOutput'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      summary: Get agent work data for the organization
      tags:
      - AgentWork
    post:
      description: |2

        Set the work data for a specified agent.

         * Requires *agent_data:SetData*
      operationId: AgentSetOrgWork
      parameters:
      - description: Agent UID
        explode: false
        in: path
        name: agentUID
        required: true
        schema:
          description: Agent UID
          maxLength: 20
          type: string
        style: simple
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentSetOrgWorkInput'
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      summary: Set agent work data for a specific agent
      tags:
      - AgentWork
  /api/v1/org/{orgUID}/assignedrole/:
    get:
      description: |2

        Allows querying of roles on the organization

         * Requires the user have the action *org:ListOrgRoles* on the organization
      operationId: OrgListRole
      parameters:
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      - explode: true
        in: query
        name: role_uid_equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: user_email_equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: user_uid_equals
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DaoOrgRoleResponse'
                type: array
          description: OK
        "403":
          description: permission denied
      summary: List OrgRoles
      tags:
      - Org
  /api/v1/org/{orgUID}/assignedrole/add:
    post:
      description: |2

        Assigns a role to a particular user on an organization

         * Requires the user have the action *user.AssignRole* on the organization
      operationId: OrgAssignRole
      parameters:
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgAssignRoleInput'
      responses:
        "200":
          description: OK
      summary: Assign OrgRole
      tags:
      - Org
  /api/v1/org/{orgUID}/assignedrole/del:
    post:
      description: |2

        Unassigns a role to a particular user on an organization

         * Requires the user have the action *user.UnassignRole* on the organization
      operationId: OrgUnassignRole
      parameters:
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgUnassignRoleInput'
      responses:
        "200":
          description: OK
        "403":
          description: permission denied
      summary: Unassign OrgRole
      tags:
      - Org
  /api/v1/org/{orgUID}/dashboard_search/:
    get:
      description: |2-

        Lists dashboard searches by org.

         * Requires action dashboard_search:Query
      operationId: DashboardSearchList
      parameters:
      - description: Org UID
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: Org UID
          maxLength: 32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DashboardSearch'
                type: array
          description: OK
        "403":
          description: permission denied
      summary: List dashboard searches
      tags:
      - DashboardSearch
    post:
      description: |2-

        Create a dashboard search in an org.

         * Requires action dashboard_search:Create
      operationId: DashboardSearchCreate
      parameters:
      - description: UID for the DashboardSearch
        explode: false
        in: path
        name: dashboardSearchUID
        required: true
        schema:
          description: UID for the DashboardSearch
          type: string
        style: simple
      - description: Org UID
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: Org UID
          maxLength: 32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardSearchCreateInput'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "403":
          description: permission denied
      summary: Create a dashboard search
      tags:
      - DashboardSearch
  /api/v1/org/{orgUID}/dashboard_search/{dashboardSearchUID}:
    delete:
      description: |2-

        Get a dashboard search in an org.

         * Requires action dashboard_search:Delete
      operationId: DashboardSearchDelete
      parameters:
      - explode: false
        in: path
        name: dashboardSearchUID
        required: true
        schema:
          maxLength: 32
          type: string
        style: simple
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 32
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "403":
          description: permission denied
      summary: Get a dashboard search
      tags:
      - DashboardSearch
    get:
      description: |2-

        Get a dashboard search in an org.

         * Requires action dashboard_search:Get
      operationId: DashboardSearchGet
      parameters:
      - explode: false
        in: path
        name: dashboardSearchUID
        required: true
        schema:
          maxLength: 32
          type: string
        style: simple
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardSearch'
          description: OK
        "403":
          description: permission denied
      summary: Get a dashboard search
      tags:
      - DashboardSearch
    put:
      description: |2-

        Update a dashboard search in an org.

         * Requires action dashboard_search:Update
      operationId: DashboardSearchUpdate
      parameters:
      - description: UID for the DashboardSearch
        explode: false
        in: path
        name: dashboardSearchUID
        required: true
        schema:
          description: UID for the DashboardSearch
          type: string
        style: simple
      - description: Org UID
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: Org UID
          maxLength: 32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardSearchUpdateInput'
      responses:
        "200":
          description: OK
        "403":
          description: permission denied
      summary: Update a dashboard search
      tags:
      - DashboardSearch
  /api/v1/org/{orgUID}/data/:
    get:
      description: Same as the post query above except results are cached
      operationId: SrcDataQueryV2
      parameters:
      - description: Organization UID to query
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: Organization UID to query
          maxLength: 64
          type: string
        style: simple
      - description: DataType to query
        explode: true
        in: query
        name: dt
        required: true
        schema:
          description: DataType to query
          maxLength: 24
          type: string
        style: form
      - description: "Data which matches this expression are returned, as a json object"
        explode: true
        in: query
        name: e
        required: false
        schema:
          description: "Data which matches this expression are returned, as a json\
            \ object"
          type: string
        style: form
      - description: "Time in unix epoch time, records < time are returned"
        explode: true
        in: query
        name: et
        required: false
        schema:
          description: "Time in unix epoch time, records < time are returned"
          format: double
          type: number
        style: form
      - description: List of IDs to resolve
        explode: true
        in: query
        name: id
        required: false
        schema:
          description: List of IDs to resolve
          items:
            type: string
          maxItems: 256
          type: array
        style: form
      - description: "Array of top level object properties which will be emitted,\
          \ if none are specified all will be emitted; ex pj=id&pj=version"
        explode: true
        in: query
        name: pj
        required: false
        schema:
          description: "Array of top level object properties which will be emitted,\
            \ if none are specified all will be emitted; ex pj=id&pj=version"
          items:
            type: string
          maxItems: 50
          type: array
        style: form
      - description: Lucene based search query
        explode: true
        in: query
        name: q
        required: false
        schema:
          description: Lucene based search query
          maxLength: 256
          type: string
        style: form
      - description: Where to start the query in the result set from
        explode: true
        in: query
        name: qf
        required: false
        schema:
          description: Where to start the query in the result set from
          format: int32
          type: integer
        style: form
      - description: Size of the query result set
        explode: true
        in: query
        name: qs
        required: false
        schema:
          description: Size of the query result set
          format: int32
          maximum: 100
          type: integer
        style: form
      - allowEmptyValue: true
        description: Return rptrs mixed with the data
        explode: true
        in: query
        name: rr
        required: false
        schema:
          description: Return rptrs mixed with the data
          type: boolean
        style: form
      - description: Source UID to query
        explode: true
        in: query
        name: src
        required: false
        schema:
          description: Source UID to query
          maxLength: 64
          type: string
        style: form
      - description: "Time in unix epoch time, records >= time are returned"
        explode: true
        in: query
        name: st
        required: false
        schema:
          description: "Time in unix epoch time, records >= time are returned"
          format: double
          type: number
        style: form
      responses:
        "200":
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/NDJSONStream'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: invalid input parameters
        "403":
          description: permission denied
      summary: Query source data
      tags:
      - SourceData
  /api/v1/org/{orgUID}/investigation/:
    get:
      description: |2

        Lists investigations

         * Will list investigations which the user has the action *investigation:Load* or *investigation:LoadExpired* on
      operationId: InvestigationList
      parameters:
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DaoInvestigation'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: invalid query parameters
        "403":
          description: permission denied
      summary: List investigations
      tags:
      - Investigation
    post:
      description: |2

        Create an investigationan

         * Requires the user have the action *investigation:Create*
      operationId: InvestigationCreate
      parameters:
      - description: Investigation UID
        explode: false
        in: path
        name: investigationUID
        required: true
        schema:
          description: Investigation UID
          type: string
        style: simple
      - description: Investigation OrgUID
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: Investigation OrgUID
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvestigationCreateInput'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInvestigationCreateOutput'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: invalid input parameters
        "403":
          description: permission denied
      summary: Create an investigation
      tags:
      - Investigation
  /api/v1/org/{orgUID}/investigation/{investigationUID}:
    delete:
      description: "\nDeletes an investigation, by setting valid_to=now so that the\
        \ investigation is virtually deleted.\n\n * Requires the user have the action\
        \ *investigation:Delete*\n"
      operationId: InvestigationDelete
      parameters:
      - description: Investigation UID
        explode: false
        in: path
        name: investigationUID
        required: true
        schema:
          description: Investigation UID
          type: string
        style: simple
      - description: Investigation OrgUID
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: Investigation OrgUID
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "403":
          description: permission denied
      summary: Delete an investigation
      tags:
      - Investigation
    get:
      description: "\nLoads an investigation by UID. \n\n * Requires action  *investigation:Load*\
        \ to load an active investigation\n * Requires action *investigation:LoadExpired*\
        \ to load expired investigations\n\n"
      operationId: InvestigationLoad
      parameters:
      - explode: false
        in: path
        name: investigationUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DaoInvestigation'
          description: OK
        "403":
          description: permission denied
      summary: Load an investigation
      tags:
      - Investigation
    put:
      description: |2

        Updates the investigationan

         * Requires the user have the action *investigation:Update*
      operationId: InvestigationUpdate
      parameters:
      - description: Investigation UID
        explode: false
        in: path
        name: investigationUID
        required: true
        schema:
          description: Investigation UID
          type: string
        style: simple
      - description: Investigation OrgUID
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: Investigation OrgUID
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvestigationUpdateInput'
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: invalid input parameters
        "403":
          description: permission denied
      summary: Update an investigation
      tags:
      - Investigation
  /api/v1/org/{orgUID}/investigation/{investigationUID}/version/:
    get:
      description: |2

        Lists prior version of this investigation

         * Requires the user have the action *investigation:ListVersions*
      operationId: InvestigationListVersions
      parameters:
      - explode: false
        in: path
        name: investigationUID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DaoInvestigation'
                type: array
          description: OK
        "403":
          description: permission denied
      summary: List Investigation Versions
      tags:
      - Investigation
  /api/v1/org/{orgUID}/investigation/{investigationUID}/version/{version}:
    get:
      description: |2

        Loads a specific version of an investigation

         * Requires the user have the action *investigation:LoadVersion*
      operationId: InvestigationLoadVersion
      parameters:
      - explode: false
        in: path
        name: investigationUID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: version
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DaoInvestigation'
          description: OK
        "403":
          description: permission denied
      summary: Load Investigation Version
      tags:
      - Investigation
  /api/v1/org/{orgUID}/invite:
    post:
      description: |2+

        Invites users to an organization

         * Requires action *org:InviteUsers* on the organization to invite users

      operationId: OrgInviteUsers
      parameters:
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgInviteUsersInput'
      responses:
        "200":
          description: OK
        "403":
          description: permission denied
      summary: Invite users to an organization
      tags:
      - Org
  /api/v1/org/{orgUID}/notification_policy:
    put:
      description: "\nUpdates the organization's notification policy\n\nThe policy\
        \ contains targets, which are named destinations, for example a list of admins,\
        \ and then rules for how notifications\nare routed. The most basic notification\
        \ is the default policy assigned to all organizations, which is to send notifications\n\
        to the organization owner. \n\nEach notification has a schema which can be\
        \ used to filter how notifications are routed. \n\nHere is an example notification\
        \ policy:\n\n```\n{\n    \"targets\": {\n      \"admins\": {\n        \"emails\"\
        : [\n          \"admin1@foo.com\",\n          \"admin2@foo.com\"\n       \
        \ ]\n      },\n      \"soc\": {\n        \"slack\": {\n          \"url\":\
        \ \"http://app.slack.com/XXXX\"\n        }\n      },\n      \"sns_example\"\
        : {\n        \"data\": \"UI supplied data\",\n        \"description\": \"\
        Cross-Account Notification\",\n        \"sns\": {\n          \"sns_topic_arn\"\
        : \"arn:aws:sns:CUSTOMER-AWS-REGION:CUSTOMER-AWS-ACCOUNT-ID:CUSTOMER-TOPIC-NAME\"\
        ,\n          \"cross_account_iam_role\": \"arn:aws:iam::CUSTOMER-ACCOUNT-ID:role/CUSTOMER-ROLE-NAME\"\
        \n        }\n      }\n    },\n    \"routes\": [\n      {\n        \"target\"\
        : \"admins\",\n        \"expr\": {\n          \"schema\": \"agent_offline\"\
        \n        }\n      },\n      {\n        \"target\": \"soc\",\n        \"expr\"\
        : {\n          \"schema\": \"spydertrace_updated\"\n        }\n      },\n\
        \      {\n        \"destination\": {\n          \"users\": [\n           \
        \ \"X23hs8234lks\"\n          ]\n        }\n      }\n    ]\n  }\n```\n\nThis\
        \ policy says that any notification with the schema \"agent_offline\" is send\
        \ to the admin emails, and that any notifications with the schema \"spydertrace_update\"\
        \ is send to the soc slack channel, and all other notifications are sent to\
        \ a user specified by their UserUID. If a destination is an explicit UserUID\
        \ then the users notification policy will applied, for example to notify them\
        \ by their notification type of choice.  \n\n * The following destination\
        \ types are currently supported, UserUID, Email, Slack, Webhook, SNS. See\
        \ the associated destination definition in the notification policy for details.\
        \ \n * First match for a routing rule wins, and further processsing of the\
        \ notification stops. \n * If a UserUID is specified the users notification\
        \ policy may be used to contact that user.\n * Each notification has an associated\
        \ schema, which is used to provide a consistent schema for the notification.\n\
        \ * Expressions are optional, if no expression is specified the route matches\
        \ by default\n * If the content-type is application/hjson the policy will\
        \ be parsed and stored as hjson, all comments will be lost on an existing\
        \ hjson policy if it is uploaded as json\n\nThis is an example notification\
        \ generated using a notification policy and dashboardsearch:\n\n```\n{\n\t\
        \"uid\": \"lQ0Q1lKm\",\n\t\"org_uid\": \"your_org_uid\",\n\t\"valid_from\"\
        : \"2021-10-14T19:22:00.869159169Z\",\n\t\"title\": \"Spyderbat: Dashboard\
        \ search notification Recent interactive (shell) Processes\",\n\t\"message\"\
        : \"Spyderbat: Dashboard search notification Recent interactive (shell) Processes\"\
        ,\n\t\"data\": {\n\t  \"dashboardsearch\": {\n\t\t\"data\": {\n\t\t  \"createTime\"\
        : 1634237497.142,\n\t\t  \"createdBy\": \"user@example.com\"\n\t\t},\n\t\t\
        \"description\": \"Recent interactive (shell) Processes\",\n\t\t\"notify\"\
        : true,\n\t\t\"notify_frequency\": 300,\n\t\t\"org_uid\": \"spyderbatuid\"\
        ,\n\t\t\"search\": \"schema:model_process AND interactive:true\",\n\t\t\"\
        uid\": \"RTBQoR3uucyjG8ZeHJmw\"\n\t  }\n\t},\n\t\"schema\": \"dashboard_saved_search\"\
        ,\n\t\"records\": [\n\t  {\n\t\t\"total_hits\": 0\n\t  }\n\t]\n  }\n```\n\n\
        \ * Requires the user have the action *org:UpdateNotificationPolicy* on the\
        \ organization\n"
      operationId: OrgUpdateNotificationPolicy
      parameters:
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationPolicy'
        description: The notification policy
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: invalid input parameters
        "403":
          description: permission denied
      summary: Update an organization's notification policy
      tags:
      - Org
  /api/v1/org/{orgUID}/notification_policy/:
    get:
      description: "\nLoads the notification policy for an organization. The notification\
        \ policy defines who and how the organization is notified. \n \n * If the\
        \ content-type is application/hjson the policy will be returned as hjson\n\
        \ * If the content-type is application/json the policy will be returned as\
        \ json\n\n\n * Requires the user have the action *org:LoadNotificationPolicy*\
        \ on the organization\n"
      operationId: OrgLoadNotificationPolicy
      parameters:
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hjson:
              schema:
                $ref: '#/components/schemas/NotificationPolicy'
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPolicy'
          description: OK
        "403":
          description: permission denied
      summary: Load Notification Policy
      tags:
      - Org
  /api/v1/org/{orgUID}/notification_policy/test_target:
    post:
      description: |2

        Sends a test notification to a target.

         * Requires the user have the action *org:SendTestNotification* on the organization
      operationId: OrgTestNotificationTarget
      parameters:
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgTestNotificationTargetInput'
      responses:
        "200":
          description: OK
        "403":
          description: permission denied
      summary: Test Notification Target
      tags:
      - Org
  /api/v1/org/{orgUID}/source/:
    get:
      description: |2

        Lists the sources of data for an organization

        * Requires the action  *org:ListSources* on the organization
      operationId: SrcList
      parameters:
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          minLength: 10
          type: string
        style: simple
      - explode: true
        in: query
        name: agent_uid_equals
        required: false
        schema:
          maxLength: 64
          type: string
        style: form
      - explode: true
        in: query
        name: description_contains
        required: false
        schema:
          maxLength: 32
          type: string
        style: form
      - explode: true
        in: query
        name: has_tags
        required: false
        schema:
          items:
            type: string
          maxItems: 10
          type: array
        style: form
      - allowEmptyValue: true
        explode: true
        in: query
        name: original_association
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int32
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Source'
                type: array
          description: OK
        "403":
          description: permission denied
      summary: List sources
      tags:
      - Source
    post:
      description: |2

        Creates a new source of data

        * Requires the action  *org:CreateSource* on the organization
      operationId: SrcCreate
      parameters:
      - description: The org this source is associated with
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: The org this source is associated with
          maxLength: 64
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SrcCreateInput'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSourceCreateHandlerOutput'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: invalid input parameters
        "403":
          description: permission denied
      summary: Create a source
      tags:
      - Source
  /api/v1/org/{orgUID}/source/{sourceUID}:
    delete:
      description: |2

        Delete a source

        * Requires the action  *org:DeleteSource* on the organization
      operationId: SrcDelete
      parameters:
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      - explode: false
        in: path
        name: sourceUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "403":
          description: permission denied
      summary: Delete a source
      tags:
      - Source
    get:
      description: |2

        Loads the meta data for a source of data

        * Requires the action  *org:LoadSource* on the organization
      operationId: SrcLoad
      parameters:
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      - explode: false
        in: path
        name: sourceUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
          description: OK
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Load a source
      tags:
      - Source
    put:
      description: |2

        Updates the meta data for a source of data

        * Requires the action  *org:UpdateSource* on the organization
      operationId: SrcUpdate
      parameters:
      - description: The org this source is associated with
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: The org this source is associated with
          maxLength: 64
          type: string
        style: simple
      - description: The UID of the source
        explode: false
        in: path
        name: sourceUID
        required: true
        schema:
          description: The UID of the source
          maxLength: 64
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SrcUpdateInput'
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: invalid input parameters
        "403":
          description: permission denied
      summary: Update a source
      tags:
      - Source
  /api/v1/org/{orgUID}/source/{sourceUID}/data/{dataType}:
    post:
      description: Sends data to a source
      operationId: SrcSendData
      parameters:
      - explode: false
        in: path
        name: dataType
        required: true
        schema:
          maxLength: 128
          type: string
        style: simple
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      - explode: false
        in: path
        name: sourceUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: invalid input parameters
        "403":
          description: permission denied
      summary: "Send data to a source, this is expected to be gzip compressed nd-json.\
        \ The 'Content-Encoding' header should be specified with a value of 'gzip'"
      tags:
      - SourceData
  /api/v1/org/{orgUID}/source/{sourceUID}/uidata/:
    get:
      description: |2+

        Query UI Data

         * Requires *uidata:Query*

      operationId: UiDataQuerySourceData
      parameters:
      - description: Key for the data
        explode: false
        in: path
        name: dataKey
        required: true
        schema:
          description: Key for the data
          maxLength: 32
          type: string
        style: simple
      - description: Org UID
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: Org UID
          maxLength: 32
          type: string
        style: simple
      - description: Src UID
        explode: false
        in: path
        name: sourceUID
        required: true
        schema:
          description: Src UID
          maxLength: 32
          type: string
        style: simple
      - description: Owner UID
        explode: false
        in: path
        name: userUID
        required: true
        schema:
          description: Owner UID
          maxLength: 32
          type: string
        style: simple
      - description: Tags to search for
        explode: true
        in: query
        name: tags
        required: false
        schema:
          description: Tags to search for
          items:
            type: string
          maxItems: 5
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UIData'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Invalid user
      summary: Query Source UI Data
      tags:
      - UIData
  /api/v1/org/{orgUID}/source/{sourceUID}/uidata/{dataKey}:
    delete:
      description: |2+

        Sets UI Data

         * Requires *uidata:Delete*

      operationId: UiDataDeleteSourceData
      parameters:
      - description: Key for the data
        explode: false
        in: path
        name: dataKey
        required: true
        schema:
          description: Key for the data
          maxLength: 32
          type: string
        style: simple
      - description: Org UID
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: Org UID
          maxLength: 32
          type: string
        style: simple
      - description: Src UID
        explode: false
        in: path
        name: sourceUID
        required: true
        schema:
          description: Src UID
          maxLength: 32
          type: string
        style: simple
      - description: Owner UID
        explode: false
        in: path
        name: userUID
        required: true
        schema:
          description: Owner UID
          maxLength: 32
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Invalid user
      summary: Delete Source UI Data
      tags:
      - UIData
    get:
      description: |2+

        Gets UI Data

         * Updates lastused
         * Requires *uidata:Get*

      operationId: UiDataGetSourceData
      parameters:
      - description: Key for the data
        explode: false
        in: path
        name: dataKey
        required: true
        schema:
          description: Key for the data
          maxLength: 32
          type: string
        style: simple
      - description: Org UID
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: Org UID
          maxLength: 32
          type: string
        style: simple
      - description: Src UID
        explode: false
        in: path
        name: sourceUID
        required: true
        schema:
          description: Src UID
          maxLength: 32
          type: string
        style: simple
      - description: Owner UID
        explode: false
        in: path
        name: userUID
        required: true
        schema:
          description: Owner UID
          maxLength: 32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UIData'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Invalid user
      summary: Get Source UI Data
      tags:
      - UIData
    put:
      description: "\nSets UI Data\n\n * Updates data, valid_to (if set), lastused\n\
        \ * Requires *uidata:Set*\n\n"
      operationId: UiDataSetSourceData
      parameters:
      - description: Key for the data
        explode: false
        in: path
        name: dataKey
        required: true
        schema:
          description: Key for the data
          maxLength: 32
          type: string
        style: simple
      - description: Org UID
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: Org UID
          maxLength: 32
          type: string
        style: simple
      - description: Source UID
        explode: false
        in: path
        name: sourceUID
        required: true
        schema:
          description: Source UID
          maxLength: 32
          type: string
        style: simple
      - description: Owner UID
        explode: false
        in: path
        name: userUID
        required: true
        schema:
          description: Owner UID
          maxLength: 32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UiDataSetSourceDataInput'
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Invalid user
      summary: Set Source UI Data
      tags:
      - UIData
  /api/v1/org/{orgUID}/type:
    get:
      description: |2

        Loads the org type for the organiation

         * Requires action *org:Load*
      operationId: OrgTypeLoad
      parameters:
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DaoOrgType'
          description: OK
        "403":
          description: permission denied
      summary: Load the org type for the organization
      tags:
      - OrgType
  /api/v1/org/{orgUID}/type/limit/active_sources:
    get:
      description: "\nLoads the limits regarding active sources allowed on the organization,\
        \ the active\nsources in an org are calculated on a 5m0s basis. \n\n * Requires\
        \ action *org:Load*\n"
      operationId: OrgTypeLimitActiveSources
      parameters:
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionOrgTypeMaxLimit'
          description: OK
        "403":
          description: permission denied
      summary: Loads limits regarding active sources
      tags:
      - OrgType
  /api/v1/org/{orgUID}/type/limit/org_roles:
    get:
      description: |2

        Loads the limit information regarding the number of associated roles allowed
        per an organization

         * Requires action *org:Load*
      operationId: OrgTypeLimitOrgRoles
      parameters:
      - explode: false
        in: path
        name: orgUID
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionOrgTypeMaxLimit'
          description: OK
        "403":
          description: permission denied
      summary: Loads limits regarding org roles
      tags:
      - OrgType
  /api/v1/org/{orgUID}/uidata/:
    get:
      description: |2+

        Query UI Data

         * Requires *uidata:Query*

      operationId: UiDataQueryOrgData
      parameters:
      - description: Key for the data
        explode: false
        in: path
        name: dataKey
        required: true
        schema:
          description: Key for the data
          maxLength: 32
          type: string
        style: simple
      - description: Org UID
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: Org UID
          maxLength: 32
          type: string
        style: simple
      - description: Src UID
        explode: false
        in: path
        name: sourceUID
        required: true
        schema:
          description: Src UID
          maxLength: 32
          type: string
        style: simple
      - description: Owner UID
        explode: false
        in: path
        name: userUID
        required: true
        schema:
          description: Owner UID
          maxLength: 32
          type: string
        style: simple
      - description: Tags to search for
        explode: true
        in: query
        name: tags
        required: false
        schema:
          description: Tags to search for
          items:
            type: string
          maxItems: 5
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UIData'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Invalid user
      summary: Query Org UI Data
      tags:
      - UIData
  /api/v1/org/{orgUID}/uidata/{dataKey}:
    delete:
      description: |2+

        Sets UI Data

         * Requires *uidata:Delete*

      operationId: UiDataDeleteOrgData
      parameters:
      - description: Key for the data
        explode: false
        in: path
        name: dataKey
        required: true
        schema:
          description: Key for the data
          maxLength: 32
          type: string
        style: simple
      - description: Org UID
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: Org UID
          maxLength: 32
          type: string
        style: simple
      - description: Src UID
        explode: false
        in: path
        name: sourceUID
        required: true
        schema:
          description: Src UID
          maxLength: 32
          type: string
        style: simple
      - description: Owner UID
        explode: false
        in: path
        name: userUID
        required: true
        schema:
          description: Owner UID
          maxLength: 32
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Invalid user
      summary: Delete Org UI Data
      tags:
      - UIData
    get:
      description: |2+

        Gets UI Data

         * Updates lastused
         * Requires *uidata:Get*

      operationId: UiDataGetOrgData
      parameters:
      - description: Key for the data
        explode: false
        in: path
        name: dataKey
        required: true
        schema:
          description: Key for the data
          maxLength: 32
          type: string
        style: simple
      - description: Org UID
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: Org UID
          maxLength: 32
          type: string
        style: simple
      - description: Src UID
        explode: false
        in: path
        name: sourceUID
        required: true
        schema:
          description: Src UID
          maxLength: 32
          type: string
        style: simple
      - description: Owner UID
        explode: false
        in: path
        name: userUID
        required: true
        schema:
          description: Owner UID
          maxLength: 32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UIData'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Invalid user
      summary: Get Org UI Data
      tags:
      - UIData
    put:
      description: "\nSets UI Data\n\n * Updates data, valid_to (if set), lastused\n\
        \ * Requires *uidata:Set*\n\n"
      operationId: UiDataSetOrgData
      parameters:
      - description: Key for the data
        explode: false
        in: path
        name: dataKey
        required: true
        schema:
          description: Key for the data
          maxLength: 32
          type: string
        style: simple
      - description: Org UID
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: Org UID
          maxLength: 32
          type: string
        style: simple
      - description: Source UID
        explode: false
        in: path
        name: sourceUID
        required: true
        schema:
          description: Source UID
          maxLength: 32
          type: string
        style: simple
      - description: Owner UID
        explode: false
        in: path
        name: userUID
        required: true
        schema:
          description: Owner UID
          maxLength: 32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UiDataSetOrgDataInput'
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Invalid user
      summary: Set Org UI Data
      tags:
      - UIData
  /api/v1/rbac/capabilities/:
    post:
      description: Allows for querying of what actions a user can perform; results
        may be cached for a short period of time.
      operationId: CanUserPerform
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CanUserPerformInput'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRBACActions'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Invalid user signup
      summary: Query allows actions on objects
      tags:
      - RBAC
  /api/v1/source/query/:
    post:
      description: "\nAllows querying of the source data, data is stored as 'records'\
        \ which are returned as json objects, in nd-json (see ndjson.org) format.\
        \ \n\n* Data is returned as it is matched, and no ordering guarentees exist.\
        \ \n* The call completes after it has finished searching for matching records.\
        \ \n* The query expression is limited to seaching a 24 hour period of time,\
        \ it is the callers responsibility to construct an appropriate 24 hour range.\n\
        * Documentation for the returned spydergraph datatype can be found at https://app.spyderbat.com/schema/spydergraph/index.html\n\
        \n* The user must have both the *org.ListSourceData* action on the org and\
        \ *source_data.Query* action on the source\n\n"
      operationId: SrcDataQuery
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SrcDataQueryInput'
      responses:
        "200":
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/NDJSONStream'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: invalid input parameters
        "403":
          description: permission denied
      summary: Query source data
      tags:
      - SourceData
  /api/v1/user/{userUID}:
    get:
      description: "\nLoads a user given the user's user ID. \n\n * By default users\
        \ may only load their own user ID\n * The action *user:Load* may be placed\
        \ upon the users role to allowed loading other users\n"
      operationId: UserLoad
      parameters:
      - description: User UID
        explode: false
        in: path
        name: userUID
        required: true
        schema:
          description: User UID
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: OK
        "404":
          description: No user with specified ID was found
      summary: Load a user by ID
      tags:
      - User
  /api/v1/user/{userUID}/apikey/:
    get:
      description: |2+

        Lists API keys associated with a user

         * Requires global action *user:APIKeyList*

      operationId: ApiKeyList
      parameters:
      - description: User UID
        explode: false
        in: path
        name: userUID
        required: true
        schema:
          description: User UID
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/APIKey'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Invalid user
      summary: Lists an API key
      tags:
      - APIKey
    post:
      description: |2

        Creates a new API key which is associated with the user

          * Requires global action *user:APIKeyCreate*
      operationId: ApiKeyCreate
      parameters:
      - description: User UID
        explode: false
        in: path
        name: userUID
        required: true
        schema:
          description: User UID
          maxLength: 64
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateInput'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Invalid user
      summary: Creates a new API key
      tags:
      - APIKey
  /api/v1/user/{userUID}/apikey/{uid}:
    delete:
      description: |2

        Deletes a specific API key

         * Requires global action *user:APIKeyDelete*
      operationId: ApiKeyDelete
      parameters:
      - description: API Key UID
        explode: false
        in: path
        name: uid
        required: true
        schema:
          description: API Key UID
          maxLength: 64
          type: string
        style: simple
      - description: User UID
        explode: false
        in: path
        name: userUID
        required: true
        schema:
          description: User UID
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Invalid user
      summary: Delete an API key
      tags:
      - APIKey
    put:
      description: "\nUpdates a specific API Key, the only fields which can be updated\
        \ are description and enabled\n\n * Requires global action *user:APIKeyUpdate*\n"
      operationId: ApiKeyUpdate
      parameters:
      - description: API Key UID
        explode: false
        in: path
        name: uid
        required: true
        schema:
          description: API Key UID
          maxLength: 64
          type: string
        style: simple
      - description: User UID
        explode: false
        in: path
        name: userUID
        required: true
        schema:
          description: User UID
          maxLength: 64
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateInput'
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Invalid user
      summary: Updates an API key
      tags:
      - APIKey
  /api/v1/user/{userUID}/org/{orgUID}/source/{sourceUID}/uidata/:
    get:
      description: |2+

        Query UI Data

         * Requires *uidata:Query*

      operationId: UiDataQueryUserSourceData
      parameters:
      - description: Key for the data
        explode: false
        in: path
        name: dataKey
        required: true
        schema:
          description: Key for the data
          maxLength: 32
          type: string
        style: simple
      - description: Org UID
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: Org UID
          maxLength: 32
          type: string
        style: simple
      - description: Src UID
        explode: false
        in: path
        name: sourceUID
        required: true
        schema:
          description: Src UID
          maxLength: 32
          type: string
        style: simple
      - description: Owner UID
        explode: false
        in: path
        name: userUID
        required: true
        schema:
          description: Owner UID
          maxLength: 32
          type: string
        style: simple
      - description: Tags to search for
        explode: true
        in: query
        name: tags
        required: false
        schema:
          description: Tags to search for
          items:
            type: string
          maxItems: 5
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UIData'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Invalid user
      summary: Query UserSource UI Data
      tags:
      - UIData
  /api/v1/user/{userUID}/org/{orgUID}/source/{sourceUID}/uidata/{dataKey}:
    delete:
      description: |2+

        Sets UI Data

         * Requires *uidata:Delete*

      operationId: UiDataDeleteUserSourceData
      parameters:
      - description: Key for the data
        explode: false
        in: path
        name: dataKey
        required: true
        schema:
          description: Key for the data
          maxLength: 32
          type: string
        style: simple
      - description: Org UID
        explode: false
        in: path
        name: orgUID
        required: true
        schema:
          description: Org UID
          maxLength: 32
          type: string
        style: simple
      - description: Src UID
        explode: false
        in: path
        name: sourceUID
        required: true
        schema:
          description: Src UID
          maxLength: 32
          type: string
        style: simple
      - description: Owner UID
        explode: false
        in: path
        name: userUID
        required: true
        schema:
          description: Owner UID
          maxLength: 32
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
[...]
