/*
Spyderbat API UI & Public APIs

Restful APIs for use by UI & customers.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sbapi

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)


// MetricsDataApiService MetricsDataApi service
type MetricsDataApiService service

type ApiMetricsDataQueryRequest struct {
	ctx context.Context
	ApiService *MetricsDataApiService
	metricsDataQueryInput *MetricsDataQueryInput
}

func (r ApiMetricsDataQueryRequest) MetricsDataQueryInput(metricsDataQueryInput MetricsDataQueryInput) ApiMetricsDataQueryRequest {
	r.metricsDataQueryInput = &metricsDataQueryInput
	return r
}

func (r ApiMetricsDataQueryRequest) Execute() (*http.Response, error) {
	return r.ApiService.MetricsDataQueryExecute(r)
}

/*
MetricsDataQuery Query metrics data


Allows querying of the metrics for metricss, data is stored as 'records' which are returned as json objects, in nd-json (see ndjson.org) format. 

* Data is returned as it is matched, and no ordering guarentees exist. 
* The call completes after it has finished searching for matching records. 
* The query expression is limited to seaching a 1 week period of time, it is the callers responsibility to construct an appropriate 24 hour range.

* The user must have both the *metrics:QueryData* action on the org


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMetricsDataQueryRequest
*/
func (a *MetricsDataApiService) MetricsDataQuery(ctx context.Context) ApiMetricsDataQueryRequest {
	return ApiMetricsDataQueryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *MetricsDataApiService) MetricsDataQueryExecute(r ApiMetricsDataQueryRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MetricsDataApiService.MetricsDataQuery")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/metrics/query/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.metricsDataQueryInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
